# Backend API base URL (no trailing slash). Default: http://localhost:4000/api/v1
VITE_API_URL=http://localhost:4000/api/v1

# VITE_API_URL=https://rahat-clinic-main.vercel.app/api/v1
# VITE_API_URL=https://rahat-clinic-main-3pmlx2j53-md-khizer-s-projects.vercel.app